[submodule ".registry"]
	path = .registry
	url = https://github.com/tanguybarthelemy/tanguybarthelemy.r-universe.dev
	branch = HEAD
[submodule "JDCruncheR"]
	path = JDCruncheR
	url = https://github.com/InseeFr/JDCruncheR
[submodule "rjd3providers"]
	path = rjd3providers
	url = https://github.com/rjdverse/rjd3providers
[submodule "rjd3toolkit"]
	path = rjd3toolkit
	url = https://github.com/rjdverse/rjd3toolkit
[submodule "rjd3tramoseats"]
	path = rjd3tramoseats
	url = https://github.com/rjdverse/rjd3tramoseats
[submodule "rjd3workspace"]
	path = rjd3workspace
	url = https://github.com/rjdverse/rjd3workspace
[submodule "rjd3x13"]
	path = rjd3x13
	url = https://github.com/rjdverse/rjd3x13
[submodule "rjdworkspace"]
	path = rjdworkspace
	url = https://github.com/InseeFrLab/rjdworkspace
