[submodule ".registry"]
	path = .registry
	url = https://github.com/tanguybarthelemy/tanguybarthelemy.r-universe.dev
	branch = HEAD
[submodule "IssueTrackeR"]
	path = IssueTrackeR
	url = https://github.com/TanguyBarthelemy/IssueTrackeR
[submodule "releaser"]
	path = releaser
	url = https://github.com/TanguyBarthelemy/releaser
[submodule "rjd3bench"]
	path = rjd3bench
	url = https://github.com/rjdverse/rjd3bench
[submodule "rjd3filters"]
	path = rjd3filters
	url = https://github.com/rjdverse/rjd3filters
[submodule "rjd3highfreq"]
	path = rjd3highfreq
	url = https://github.com/rjdverse/rjd3highfreq
[submodule "rjd3nowcasting"]
	path = rjd3nowcasting
	url = https://github.com/rjdverse/rjd3nowcasting
[submodule "rjd3production"]
	path = rjd3production
	url = https://github.com/TanguyBarthelemy/rjd3production
[submodule "rjd3providers"]
	path = rjd3providers
	url = https://github.com/rjdverse/rjd3providers
[submodule "rjd3revisions"]
	path = rjd3revisions
	url = https://github.com/rjdverse/rjd3revisions
[submodule "rjd3stl"]
	path = rjd3stl
	url = https://github.com/rjdverse/rjd3stl
[submodule "rjd3sts"]
	path = rjd3sts
	url = https://github.com/rjdverse/rjd3sts
[submodule "rjd3toolkit"]
	path = rjd3toolkit
	url = https://github.com/rjdverse/rjd3toolkit
[submodule "rjd3tramoseats"]
	path = rjd3tramoseats
	url = https://github.com/rjdverse/rjd3tramoseats
[submodule "rjd3workspace"]
	path = rjd3workspace
	url = https://github.com/rjdverse/rjd3workspace
[submodule "rjd3x11plus"]
	path = rjd3x11plus
	url = https://github.com/rjdverse/rjd3x11plus
[submodule "rjd3x13"]
	path = rjd3x13
	url = https://github.com/rjdverse/rjd3x13
